/* css design  */
/* style for body */
body {
    font-family: sans-serif;
    background-color: #202124;
}

/* style for single task div container */

.singleTask {
    border: 1px solid white;
    width: 50%;
    height: 90px;
    color: white;
    display: flex;
    align-items: baseline;
    /* justify-content: space-evenly; */
    position: relative;
    left: 25%;
}
/* todo logo */
.todologo{
   height: 75px;
}

/* style for del check */
.delechack {
    margin: 5px 5px;
}

/* style for TODO heading */

.todoheading {
    color: white;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

/* style for form */

.form_class {
    width: 50%;
    text-align: center;
    position: relative;
    left: 25%;
}

/* style for description area */
.desc_Class input {
    height: 50px;
    width: 90%;
    padding: 2px 6px;
    outline: none;
    box-sizing:border-box;
}


/* design for select and option START */
/* style for select and options input input area */

.select_and_input {
    display: flex;
    justify-content: center;
    margin-bottom: 12px;
    font-size:14px;
}

.select_and_input select {
    height: 35px;
    width: 35%;
    border-radius: 5px;
    text-align: center;
    margin-right: 50px;
}

.select_and_input input {
    height: 35px;
    width: 35%;
    border-radius: 5px;
    text-align: center;
}

/* design for select and option END */

/* for placing placeholder in the center  */
input[type="textarea"]::placeholder {

    /* Firefox, Chrome, Opera */
    text-align: center;
}

/* Design for different category */

.work {
    background-color: lightgreen;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    font-weight: bold;
    padding: 4px 10px;
    border-radius: 4px;
    color: green;
}

.personal {
    background-color: lightsteelblue;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    font-weight: bold;
    padding: 4px 10px;
    border-radius: 4px;
    color: blue;

}

.buisness {
    background-color: yellow;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    font-weight: bold;
    padding: 4px 10px;
    border-radius: 4px;
    color: rgb(255, 115, 0);
}

.others {
    background-color: rgb(189, 136, 238);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    font-weight: bold;
    padding: 4px 10px;
    border-radius: 4px;
    color: blueviolet;
}

.name_and_dueDate {
    width: 100%;
    padding: 4px 6px;
    height: auto;
    margin: 5px 0px;
    box-sizing: border-box;
    word-wrap: break-word;
}

.dueDate {
    font-size: 11px;
    font-weight: normal;
    color: lightgray;
}
.color-white {
    color: white;
}

.mainDiv {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.taskDiv {
    border: 1px solid gray;
    color: white;
    font-weight: bold;
    border-radius: 8px;
    height: fit-content;
    width: 280px;
    margin: 10px;
}

.taskHead {
    padding: 0px 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.taskHead a {
    text-decoration: none;
    color: red;
}
.taskFoot{
    display: flex;
    align-items: center;
    padding: 2px 8px;
    justify-content: space-between
}
